* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #111;
}


header {
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 24px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer; /* HOME gomb */
}

nav {
    position: relative;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
}



.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: #fff;
    border: 1px solid #ddd;
    width: 200px;
}

.dropdown div {
    padding: 14px 18px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown div:hover {
    background: #111;
    color: #fff;
}



main {
    max-width: 1200px;
    margin: auto;
    padding: 80px 50px;
}

.title {
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle {
    color: #555;
    margin-bottom: 50px;
}



.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* kartya */

.card {
    background: #fff;
    padding: 20px;
    border-radius: 22px;                 /* korvonal */
    border: 1px solid #e2e2e2;
    transition: 0.25s ease;
     background: #fff;
    padding: 20px;
    border-radius: 22px;                 
    border: 1px solid #e2e2e2;
    transition: 0.25s ease;
    
    /*fix meret */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    
    /*arnyek*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    border-radius: 16px;                 
    margin-bottom: 15px;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.card p {
    font-size: 13px;
    color: #666;
}

/* trukkos alairatxd */

footer {
    text-align: center;
    padding: 100px;
    font-size: 12px;
    color: #777;
    font-weight: bold;
}
